


<%- include('../layouts/header') %>
       
      

<h2>Welcome,Admin </h2>

<a href="/admin/editusers" >Edit Users</a>

<br><br>
<a href="/admin/productdata" >Product Data</a>

<br><br>
<a href="/admin/categories" >Category</a>

<br><br>

<a href="/admin/logout">Logout</a>
<% include('../layouts/footer') %>

